<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="propriedade_caracteristica">
            <h2><span jhiTranslate="agroplannerApp.propriedade_caracteristica.detail.title">Propriedade Caracteristica</span> {{propriedade_caracteristica.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="agroplannerApp.propriedade_caracteristica.value">Value</span></dt>
                <dd>
                    <span>{{propriedade_caracteristica.value}}</span>
                </dd>
                <dt><span jhiTranslate="agroplannerApp.propriedade_caracteristica.propriedade">Propriedade</span></dt>
                <dd>
                    <div *ngIf="propriedade_caracteristica.propriedadeId">
                        <a [routerLink]="['/propriedade', propriedade_caracteristica.propriedadeId, 'view']">{{propriedade_caracteristica.propriedadeNome}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="agroplannerApp.propriedade_caracteristica.caracteristica">Caracteristica</span></dt>
                <dd>
                    <div *ngIf="propriedade_caracteristica.caracteristicaId">
                        <a [routerLink]="['/caracteristica', propriedade_caracteristica.caracteristicaId, 'view']">{{propriedade_caracteristica.caracteristicaNome}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/propriedade-caracteristica', propriedade_caracteristica.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
