<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-propriedade-caracteristica-heading" jhiTranslate="agroplannerApp.propriedade_caracteristica.home.createOrEditLabel">Create or edit a Propriedade Caracteristica</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="agroplannerApp.propriedade_caracteristica.value" for="field_value">Value</label>
                    <input type="text" class="form-control" name="value" id="field_value"
                           formControlName="value"/>
                    <div *ngIf="editForm.get('value').invalid && (editForm.get('value').dirty || editForm.get('value').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('value').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 250 }">
                        This field cannot be longer than 250 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="agroplannerApp.propriedade_caracteristica.propriedade" for="field_propriedade">Propriedade</label>
                    <select class="form-control" id="field_propriedade" name="propriedade" formControlName="propriedadeId">
                        <option *ngIf="!editForm.get('propriedadeId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="propriedadeOption.id" *ngFor="let propriedadeOption of propriedades; trackBy: trackPropriedadeById">{{propriedadeOption.nome}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('propriedadeId').invalid && (editForm.get('propriedadeId').dirty || editForm.get('propriedadeId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('propriedadeId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="agroplannerApp.propriedade_caracteristica.caracteristica" for="field_caracteristica">Caracteristica</label>
                    <select class="form-control" id="field_caracteristica" name="caracteristica" formControlName="caracteristicaId">
                        <option *ngIf="!editForm.get('caracteristicaId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="caracteristicaOption.id" *ngFor="let caracteristicaOption of caracteristicas; trackBy: trackCaracteristicaById">{{caracteristicaOption.nome}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('caracteristicaId').invalid && (editForm.get('caracteristicaId').dirty || editForm.get('caracteristicaId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('caracteristicaId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
