<div>
    <h2 id="page-heading">
        <span jhiTranslate="agroplannerApp.propriedade_caracteristica.home.title">Propriedade Caracteristicas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-propriedade-caracteristica" [routerLink]="['/propriedade-caracteristica/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="agroplannerApp.propriedade_caracteristica.home.createLabel">
            Create new Propriedade Caracteristica
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="propriedade_caracteristicas?.length === 0">
        <span jhiTranslate="agroplannerApp.propriedade_caracteristica.home.notFound">No propriedade_caracteristicas found</span>
    </div>
    <div class="table-responsive" *ngIf="propriedade_caracteristicas?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="value"><span jhiTranslate="agroplannerApp.propriedade_caracteristica.value">Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="propriedadeNome"><span jhiTranslate="agroplannerApp.propriedade_caracteristica.propriedade">Propriedade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="caracteristicaNome"><span jhiTranslate="agroplannerApp.propriedade_caracteristica.caracteristica">Caracteristica</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let propriedade_caracteristica of propriedade_caracteristicas ;trackBy: trackId">
                <td><a [routerLink]="['/propriedade-caracteristica', propriedade_caracteristica.id, 'view' ]">{{propriedade_caracteristica.id}}</a></td>
                <td>{{propriedade_caracteristica.value}}</td>
                <td>
                    <div *ngIf="propriedade_caracteristica.propriedadeId">
                        <a [routerLink]="['../propriedade', propriedade_caracteristica.propriedadeId , 'view' ]" >{{propriedade_caracteristica.propriedadeNome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="propriedade_caracteristica.caracteristicaId">
                        <a [routerLink]="['../caracteristica', propriedade_caracteristica.caracteristicaId , 'view' ]" >{{propriedade_caracteristica.caracteristicaNome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/propriedade-caracteristica', propriedade_caracteristica.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/propriedade-caracteristica', propriedade_caracteristica.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'propriedade-caracteristica', { outlets: { popup: propriedade_caracteristica.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="propriedade_caracteristicas?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
