<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-propriedade-foto-heading" jhiTranslate="agroplannerApp.propriedadeFoto.home.createOrEditLabel">Create or edit a Propriedade Foto</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="agroplannerApp.propriedadeFoto.foto" for="field_foto">Foto</label>
                    <div>
                        <img [src]="'data:' + editForm.get('fotoContentType').value + ';base64,' + editForm.get('foto').value" style="max-height: 100px;" *ngIf="editForm.get('foto').value" alt="propriedadeFoto image"/>
                        <div *ngIf="editForm.get('foto').value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{editForm.get('fotoContentType').value}}, {{byteSize(editForm.get('foto').value)}}</span>
                            <button type="button" (click)="clearInputImage('foto', 'fotoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_foto" (change)="setFileData($event, 'foto', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="foto" id="field_foto"
                           formControlName="foto"/>
                    <input type="hidden" class="form-control" name="fotoContentType" id="field_fotoContentType"
                           formControlName="fotoContentType" />
                    <div *ngIf="editForm.get('foto').invalid && (editForm.get('foto').dirty || editForm.get('foto').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('foto').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="agroplannerApp.propriedadeFoto.propriedade" for="field_propriedade">Propriedade</label>
                    <select class="form-control" id="field_propriedade" name="propriedade" formControlName="propriedadeId">
                        <option *ngIf="!editForm.get('propriedadeId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="propriedadeOption.id" *ngFor="let propriedadeOption of propriedades; trackBy: trackPropriedadeById">{{propriedadeOption.nome}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('propriedadeId').invalid && (editForm.get('propriedadeId').dirty || editForm.get('propriedadeId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('propriedadeId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
